.AdminPage {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.07em;

  width: 100%;

  padding: 8px 0;
  margin: 0 auto;

  max-width: 400px;
  
}

