.childrenContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.children {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px;
  &.level_1 {
    background-color: coral;
  }
  &.level_2 {
    background-color: rgb(255, 238, 87);
  }
  &.level_3 {
    background-color: rgb(87, 255, 233);
  }
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.level {
  width: 18px;
  height: 18px;
}
.name {
}
.id {
}
.phone {
  font-size: 12px;
}
.button {
}
.listContainer {
}
