.childrenContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.children {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 16px;

  font-size: 14px;
  line-height: 1.2;
  font-family: sans-serif;

  opacity: 0.8;
  border-style: none;
  border-radius: 4px;
  border: 1px solid transparent;

  cursor: pointer;

  &:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);
  }
  &:active {
    box-shadow: 0 0 3px rgba(122, 122, 122, 0.5);
  }

  &.level_1 {
    background-color: coral;
  }
  &.level_2 {
    background-color: rgb(255, 238, 87);
  }
  &.level_3 {
    background-color: rgb(87, 255, 233);
  }
  &.level_4 {
    background-color: rgb(193, 113, 255);
  }
  &.level_5 {
    background-color: rgb(87, 168, 255);
  }
  &:disabled {
    pointer-events: none;
  }
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.level {
  width: 18px;
  height: 18px;
}
.name {
}
.id {
}
.phone {
  font-size: 12px;
}
.svg {
  width: 18px;
  height: 18px;
}
.listContainer {
}
