.MainPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 500px;
  align-items: center;
  justify-content: center;
  gap: 16px;

  max-width: 480px;
  margin: 8px auto;

  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.07em;

  margin: 8px;
  height: 90%;

  @media screen and (min-width: 480px) {
    max-height: 100%;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 500px;
    max-width: 100%;
  }
  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
  }
}
.section {
  height: 100%;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.sectionGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: start;
  justify-content: center;
  gap: 16px;
  height: 100%;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
