.MainPage {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.07em;

  margin: 8px auto;

  width: 250px;
  height: 150px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
