:root {
  // --brand-clr__1: rgba(226, 54, 54, 0.95);
  --brand_clr__1: #2196f3;
  --brand_clr__2: #2f303a;
  --brand_clr__2-active: #4c4d57;
  --brand_clr__2-hover: #4c4d5798;
  --brand_clr__3-active: rgb(162, 162, 162);
  --brand_clr__3-hover: rgb(194, 194, 194);
  --background_clr__main: #ffffff;
  // --zone-special_clr: #f1f1f1;
  --zone-special_clr: rgba(219, 219, 219, 0.2);

  /* TEXT */
  --text-clr__primary: #1a1a1a;
  --text-clr__secondary: #6b6b6b;
  /* ICONS */
  --icon-clr__primary: #808080;
  /* BLOCKS */
  /* TABLES */
  --tr-cell-bckgrnd_clr__even: #dadada7e;
  --tr-bckgrnd_clr__even: #dadada7e;
  --table-row-brdr-clr__primary: #c7c7c781;
  --tr-bckrnd-clr__hover: rgba(137, 202, 255, 0.4);
  --td-bckrnd-clr__active: rgba(137, 202, 255, 0.7);
  --td-outline-clr: rgba(137, 202, 255, 1);
  --th-font-size__primary: 12px;
  --th-font-size__secondary: 14px;
  --th-font-weight: 700;
  --td-font-size__primary: 12px;
  --td-font-size__secondary: 14px;

  /* BUTTONS */
  --btn-deciscon_clr__primary: rgba(219, 219, 219, 0.4);
  --btn-deciscon_clr__hover: rgba(219, 219, 219, 0.5);
  --btn-deciscon_clr__active: rgba(219, 219, 219, 1);

  /* OTHERS */
  --header-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  --block-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  --block-hdr-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  --block-ftr-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  --button-shadow-hover: 0px 1px 9px rgba(0, 0, 0, 0.2);
  --button-shadow-active: 0px 1px 5px rgba(0, 0, 0, 0.1);

  /* BRAND CARD */
  --brand-card_shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  
  --timing-function__main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  --test-outline_d: 1px dashed tomato;
  --test-outline_s: 1px solid tomato;
}
