.cardBackground{
  padding: 8px;
}
.cardActive,
.cardBlocked {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: center;

  padding: 16px;
  
  min-width: 270px;
  height: 150px;

  color: #fff;
  font-size: 12px;


  border-radius: 14px;
  overflow: hidden;
}
.cardActive {
  // background-color: rgb(66, 62, 255);
  background: linear-gradient(177.23deg, #9c2cf3 -13.49%, #3a49f9 109.75%);
}
.cardBlocked {
  // background-color: rgb(255, 35, 35);
  background: linear-gradient(177.23deg, #e42c66 -13.49%, #f55b46 109.75%);
}