.page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  max-width: 60%;
  height: 60%;

  box-shadow: 0 0 8px rgba(122, 122, 122, 0.5);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 16px;

  padding: 16px;

  height: 90%;
  width: 90%;
}
.label {
  display: grid;
  grid-template-columns: 30% 3fr;
  gap: 16px;

  text-align: start;
  font-size: 18px;
}
.input {
  font-size: 18px;
  width: 100%;
}
.button {
  font-size: 18px;
}
