.device {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 8px;

  position: fixed;
  bottom: 10px;
  left: 10px;

  font-family: sans-serif;
  font-weight: 500;
  color: rgb(224, 224, 224);

  z-index: 2000;

  padding: 4px;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}