.device {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: center;
  gap: 4px;

  position: fixed;
  bottom: 10px;
  left: 10px;

  font-family: sans-serif;
  color: rgb(224, 224, 224);

  z-index: 2000;

  padding: 4px;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);

  pointer-events: none;
}
.type {
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(224, 224, 224);
}
.button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: rgb(224, 224, 224);

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);

  cursor: pointer;
}
