.Invitation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content) 1fr;

  gap: 8px;

  width: 100%;
  height: 100%;
  padding: 8px;
}

.text {
  font-size: 10px;
  color: #828282;
}
.gridWrapper {
  display: flex;
  align-items: center;

  gap: 16px;

  width: 100%;
}
.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  width: 100%;
}
.refLink {
  display: flex;
  align-items: center;

  height: fit-content;
  flex-grow: 5;
  flex-basis: 100px;

  height: 30px;

  font-size: 14px;


  border-radius: 4px;
  background-color: rgba(254, 254, 254, 0.05);

  transition: var(--timing-function__main);

  pointer-events: none;
  &:hover {
    color: var(--brand_clr__1);
  }
}
.refLinkText {
  padding: 8px;
  width: 100%;
}
.QRCode {
  width: 80px;
  height: 80px;

  padding: 6px;

  background-color: #fff;

  margin: auto;
}
.QRCodeBig {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 250px;

  padding: 50px;

  border-radius: 4px;

  background-color: #fff;
}
