.MobileNavMenu {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  gap: 8px;

  // display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  fill: var(--brand-clr__1);

  width: 100%;
  
  backdrop-filter: blur(10px);
}
.navLink {
padding: 6px;
}
