.table {
  font-size: 12px;
}
.trHead {
  display: grid;
  grid-template-columns:
    calc(100% * 16 / 100) calc(100% * 10 / 100) calc(100% * 18 / 100)
    calc(100% * 28 / 100) calc(100% * 12 / 100) calc(100% * 16 / 100);

  font-size: 16px;
  font-weight: 700;
  text-align: center;
  height: 50px;

  overflow: hidden;
  border-radius: 30px;

  background-color: #fff;
}
.tBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 52px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.07em;

  width: 100%;
  min-height: 100px;
  max-height: 650px;
  overflow: auto;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 100%;
}
.commentWrap {
  // width: 180px;
  width: 100%;
  text-align: start;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.tRow {
  position: relative;

  height: fit-content;

  border-radius: 30px 30px 0 0;
  // backdrop-filter: blur(15px);
}
.rowTop {
  display: grid;

  grid-template-columns:
    calc(100% * 16 / 100) calc(100% * 10 / 100) calc(100% * 18 / 100)
    calc(100% * 28 / 100) calc(100% * 12 / 100) calc(100% * 16 / 100);
  align-items: center;

  text-align: center;

  height: 50px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgb(182, 182, 182);
  &:hover {
    box-shadow: 0 0 5px rgba(126, 126, 126, 0.5);
  }
}
.rowBottom {
  width: 100%;

  max-height: 0px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rowModal {
  position: absolute;
  top: 70px;
  left: 50%;

  width: 400px;
  transform: translateX(-50%);

  z-index: 500;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0 5px rgba(86, 86, 86, 0.5);

  & .rowTop {
    z-index: 500;
    border-radius: 30px 30px 0 0;

    &:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  & .rowBottom {
    z-index: 500;
    max-height: fit-content;
    border-radius: 0 0 30px 30px;

    box-shadow: 0 1px 5px rgba(86, 86, 86, 0.5);
  }
}
// * ============= FORM
.rowBottomForm {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;

  gap: 16px;

  padding: 16px;
}
// * ============== CUSTOM SELECT
.customSelect {
  position: relative;
  // overflow: hidden;

  padding: 4px;
  min-height: 30px;
  max-height: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid rgb(180, 180, 180);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-bottom: 2px solid rgb(125, 255, 70);
  }
  &.isOpen {
    .selectList {
      max-height: 170px;
      padding: 4px;
    }
  }
}
.celectField {
  width: 100%;
  height: 100%;
  border-style: none;
  outline-style: none;
}
.selectList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  min-width: 100%;
  max-height: 0;


  width: fit-content;
  max-height: 0;
  overflow: auto;

  // background-color: #fff;

  backdrop-filter: blur(25px);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selectItem {
  padding: 4px;

  white-space: nowrap;

  cursor: default;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: rgb(255, 72, 222);
  }
}
// * ============== INPUTS
.inputs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: fit-content;
  gap: 8px;
}
.input {
  padding: 4px;
  min-height: 30px;
  border-style: none;
  outline-style: none;

  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid rgb(180, 180, 180);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-bottom: 2px solid rgb(125, 255, 70);
  }
}
.textarea {
  border-style: none;
  outline-style: none;
  padding: 4px;
  min-height: 50px;

  resize: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid rgb(180, 180, 180);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-bottom: 2px solid rgb(125, 255, 70);
  }
}
// * ============== BUTTONS
.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 8px;
}
.button {
  padding: 16px 24px;

  border-style: none;

  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.75);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accept {
  border: 1px solid rgb(169, 255, 98);
  &:hover {
    background-color: rgb(169, 255, 98);
  }
}
.delete {
  border: 1px solid rgb(255, 81, 81);
  &:hover {
    background-color: rgb(255, 81, 81);
  }
}
.cancel {
  border: 1px solid rgb(255, 250, 94);
  &:hover {
    background-color: rgb(255, 250, 94);
  }
}
