@import-normalize; /* bring in normalize.css styles */
:root {
  --brand-clr__1: rgba(226, 54, 54, 0.95);
  // --brand_clr__1: rgb(255, 146, 73);
  --brand_clr__1: #fec400;
  --brand_clr__2: #3a3d54;
  --text_clr__secondary: #828282;
  --brand_clr__2-active: #3b4238;
  --brand_clr__2-hover: #3b4138;
  --background_clr__main: #1e2124;
  --background_clr__secondary: #292e33;

  /* TEXT */
  --text-clr__primary: #1a1a1a;
  --text-clr__secondary: #6b6b6b;
  /* ICONS */
  --icon-clr__primary: #808080;
  /* INPUTS */

  --inputClr_valid: rgb(122, 255, 140);
  --inputClr_invalid: rgb(255, 116, 116);
  /* BUTTONS */
  --btn-deciscon_clr__primary: rgba(219, 219, 219, 0.4);
  --btn-deciscon_clr__hover: rgba(219, 219, 219, 0.5);
  --btn-deciscon_clr__active: rgba(219, 219, 219, 1);

  /* OTHERS */
  --header-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  --block-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  --block-hdr-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  --block-ftr-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  --button-shadow-hover: 0px 1px 9px rgba(0, 0, 0, 0.2);
  --button-shadow-active: 0px 1px 5px rgba(0, 0, 0, 0.1);

  /* BRAND CARD */
  --brand-card_shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

  --timing-function__main: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --test-outline_d: 1px dashed tomato;
  --test-outline_s: 1px solid tomato;
}
#root {
  width: 100%;
  height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  box-sizing: border-box;
  /* відміняє синій фон при дотику по обєктах на тачскірінах */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.05em;

  background-color: #ffffff;
  margin: 0;
}
#root {
  height: max-content;
}

/* ----------------- НОРМАЛІЗАЦІЯ -------------- */
/*  ЗАГОЛОВКИ */
h1,
h2,
h3,
h4,
h5,
h6,
/* ПАРАГРАФИ  */
p {
  margin: 0;
}
/* ТАБЛИЦі */
table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
}
th,
tr {
  border: 0;
  padding: 0;
  margin: 0;

  user-select: none;
}
/* СПИСКИ */
ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}
/* ПОСИЛАННЯ */
a {
  text-decoration: none;
  color: inherit;
  &.active {
    background-color: var(--brand_clr__1);
  }
}
/* АДРЕСИ */
address {
  font-style: normal;
}
/* ЗОБРАЖЕННЯ */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* КНОПКИ */
button {
  user-select: none;
  cursor: pointer;
}
/* ----------------- slick slider */
.slick-slider {
  width: 100%;
  max-width: calc(270px + 2 * 8px);

  & .slick-dots {
    & li {
      margin: 0;
      button::before {
        font-size: 10px;
        color: #fff;
      }
      &.slick-active {
        button::before {
          color: #fff;
        }
      }
    }
  }
}
/* ----------------- СКРИТІ ЕЛЕМЕНТИ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ----------------- SCROLLBAR */
.NotScroll {
  overflow: hidden;
}
@media screen and (min-width: 1100px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--brand_clr__2);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: var(--brand_clr__1);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--brand_clr__1);
  }
}
/* // bimp
// --scrollbar-top-offset: 0px;
// --scrollbar-bottom-offset: 0px;
// --scrollbar-left-offset: 0px;
// --scrollbar-right-offset: 0px; */
